<main class="flex flex-col justify-center items-center w-screen">
    <div class="flex lg:flex-row lg:justify-between lg:items-start flex-col justify-center items-center flex-grow lg:w-[75%] md:w-[75%] w-[80%] m-4 bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-transparent to-super-light-pink rounded-lg pt-5 pb-5 shadow-lg"> 
        <img class="lg:w-[35%] md:w-[60%] w-[70%] m-5 border-light-pink border-double border-[5px] rounded-xl" src="/assets/me-2.png" alt="art by me">
        <div class="lg:w-[45%] md:w-[70%] w-[80%] m-5 bg-gradient-to-r from-[#7871A4] to-light-pink inline-block text-transparent bg-clip-text">
            <h1 class="text-5xl">hi, i'm sahar.</h1>
            <p class="font-thin italic text-base mt-3"><i class="bi bi-postcard-heart mr-2"></i>[sa-har, سح]</p>
            <p class="text-base mt-3">i am a latina student at nyu with an interest in computer science and web development. i love the process of full-stack development, especially working with javascript (my beloved).</p>
            <p class="text-base mt-3">when i'm not working or programming, i love petting my cat misa, drinking taro milk, and collecting korilakkuma plushies.</p>
            <p class="text-base mt-3">i'm committed to being the best version of myself everyday, whether it be as a developer or person, and i'm open to any
                exciting opportunities! <a class="hover:text-[#7871A4] hover:underline" href="/contact">connect with me here.</a> ♡</p>
        </div>
    </div>

    <div></div>

    <img class="md:w-2/12 w-[45%]" src="/assets/music-logo.png" alt="music logo">
    <h1 class="m-4 mb-6 font-thin italic">want to see what i'm listening to?</h1>
    <div class="flex justify-center items-center">
        <i class="bi bi-arrow-down"></i>
    </div>
    <div class="flex flex-col justify-center items-center lg:w-2/6 md:w-[65%] w-[85%] bg-baby-pink p-10 m-4 rounded-xl shadow-lg">
        <div class="w-10/12 flex flex-row justify-evenly items-start w-full">
            <img class="w-6/12 rounded-xl blur-[1px] mix-blend-luminosity" src="{{track.albumArt}}" alt="album art">
            <div class="ml-4 w-3/6 text-[#7871A4]">
                <p class="font-bold"><a href="http://www.last.fm/music/{{track.artist}}">{{track.artist}}</a></p>
                <p><a href="http://www.last.fm/music/{{track.artist}}/_/{{track.trackName}}">{{track.trackName}}</a></p>
                <p class="italic font-thin"><a href="http://www.last.fm/music/{{track.artist}}/{{track.album}}">{{track.album}}</a></p>
            </div>
        </div>
        <img class="w-10/12 opacity-75" src="/assets/music-player.png" alt="music player">
    </div>
    <footer class="mt-5 mb-10 flex justify-center items-center">
      <p class="bg-gradient-to-r from-[#7871A4] to-baby-pink inline-block text-transparent bg-clip-text"><a class="hover:text-[#7871A4] hover:underline" href="https://www.last.fm/">powered by AudioScrobbler | Last.fm API</a></p>
    </footer>
</main>